dependencies
/node_modules
/.pnpm-store

local machine files
.DS_Store
.env.local
.env
.cache
.npmrc
.nvmrc
npm-debug.log*
yarn-debug.log*

build output
/dist
/build
/out
/docs
/coverage

editor and IDE specific files
.vscode/
.idea/

venv3/
jsontomain.py
__pycache__
test.http
test1.py
